{extend file="/base.html" pageclass="accouncement" title="Accouncement"}

<div class="announcement-wrap">
    <h3 class="announcement-title">Announcements</h3>
    {for announcements}
        <div class="announcement-card">
            <span class="announcement-date"> {announcements.Date}  <span class='team-tag'> announcements.Team} </span></span>
            <p class="announcement-text">
                {announcements.Text}
           </p>
           <div class="announcement-creator-footer">
               <p>{announcements.Emoji}</p>
           </div>
        </div>
    {/for}
</div>