*{
    font-family: 'Roboto';
}

body{
    margin: 0;
}

.highIndex{
    position: relative;
    z-index: 999;
    background-color: #130f40;
}

nav{
    background-color: #130f40;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-list,
.nav-user{
    max-height: 6vh;
    min-height: 60px;
}

.nav-list{
    position: relative;
    z-index: 999;
    width: 100%;;
    display: flex;
    overflow: hidden;
}

nav img{
    height: 6vh;
}

nav img:hover{
    cursor: pointer;
}

nav ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    transition: 1.25s;
}

nav ul li{
    font-weight: 400;
    margin: 0px 5px;
}

#googleBtn{
    border-radius: 180px;
    width: 225px;
    height: 50px;
    background-image: url('/templates/images/google-btn-norma.png');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    
}

#googleBtn:hover{
    cursor: pointer;
    background-image: url('/templates/images/google-btn-hover.png');
}


@media only screen and (max-width: 600px) {
    #googleBtn{
    width: 50px;
    background-image: url('/templates/images/btn_google_light_normal_ios.svg');
    }

    #googleBtn:hover{
        background-image: url('/templates/images/google-btn-hover-ios.svg');
    }

    .nav-list > ul{
        position: relative;
        z-index: 0;
        right:500px;
    }

  }

  /* Announcement*/
  .announcement-wrap{
    outline: auto;
    overflow: scroll;
    height: 50vh;
    width: 350px;
    padding: 5px 15px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #007aff;
    color: #fff;
}

.announcement-title{
    text-align: center;
}

.team-tag{
    background-color: #5856d6;
    padding: 3px 3px;
    width: 75px;
    text-align: center;
    border-radius: 8px;
    font-weight: 100;
    position: relative;
    float: right;
}

.announcement-text{
    font-size: smaller;
    color:#E7C8C8;
}

.announcement-creator-footer{
    font-size: x-small;
    width: 100%;
    border-bottom: #5856d6 solid 1px;
}